<ion-header>
  <ion-toolbar color="primary">
    <ion-title>兼职详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="container">
    <div class="item">
      <div class="title">发布者</div>
      <div class="item-content">dss</div>
    </div>
    <div class="item">
      <div class="title">兼职时间</div>
      <div class="item-content">2019年3月14号14点</div>
    </div>
    <div class="item">
      <div class="title">兼职地点</div>
      <div class="item-content">shnu</div>
    </div>
    <div class="item">
        <div class="title">联系方式</div>
        <div class="item-content">12345678900</div>
      </div>
    <div class="item">
      <div class="title">具体信息</div>
      <div class="item-content">
        分发快递
      </div>
    </div>
  </div>

  <div class="join-header">兼职者列表</div>
  
  <div class="list">
    <div class="item">
      <div class="person">
        <ion-img src="../../assets/img/girl.png"></ion-img>
        <div class="name">scc</div>
      </div>
      <div class="btn">同意</div>
    </div>
  </div>

  <!-- <ion-list>
    <ion-list-header color="primary">
        目前参与者
    </ion-list-header>
    <ng-container *ngFor="let x of this.joiner">
      <div class="item">
        <div class="name">{{ x.name }}</div>
        <div class="sex">{{ x.sex }}</div>
        <div class="hobby">{{ x.hobby }}</div>
      </div>
    </ng-container>
  </ion-list> -->
</ion-content>