<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      所有兼职
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="work-wrap">
    <div class="detail">
      <div class="name">前端实习生</div>
      <div class="master">
        <ion-img src="../../assets/img/boy.png"></ion-img>
        <span>DcySC</span>
      </div>
    </div>
    <div class="income">
      200 / 天
    </div>
  </div>

  <!-- <div class="work-wrap">
    <div class="detail">
      <div class="name">前端实习生</div>
      <div class="master">
        <ion-img src=""></ion-img>
        <span>DcySC</span>
      </div>
    </div>
    <div class="income">
      200 / 天
    </div>
  </div> -->
</ion-content>