$main-color: rgb(85, 203, 196);

.work-wrap {
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: 100%;
  height: 100px;
  background-color: white;
  overflow: hidden;

  .detail {
    float: left;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

    .name {
      width: 100%;
      height: 60%;
      
      font: {
        size: 23px;
        weight: 800;
      }
    }

    .master {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40%;

      font: {
        size: 13px;
        weight: 200;
      }

      ion-img {
        display: inline-block;
        margin-right: 1rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .income {
    float: right;
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: $main-color;

    font: {
      size: 16px;
      weight: 800;
    }
  }
}