
$border-color: rgb(199, 194, 194);
$color: rgba(85, 85, 85, 0.5);
$main-color: rgb(85, 203, 196);


ion-header {
    position : relative;

    .icon {
        position: absolute;
        top: 50%;
        right: 25px;
        width: 25px;
        height: 25px;
        transform: translateY(-50%);

        ion-icon {
            width: 100%;
            height: 100%;
        }
    }
}

ion-content {
    .tab-header {
        padding: 0 0.5rem; 
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
        
        background: white;


        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
            // text-align: center;
            // line-height: 5rem;
            letter-spacing: 0.1em;
            color: $color;
            border-bottom: 1px solid $color;

            font: {
                size: 16px;
                weight: 200;
            }

            &:first-child {
                position: relative;
                
                &::before {
                    content: '';
                    position: absolute;
                    top: 1rem;
                    right: 0;
                    width: 1px;
                    height: 3rem;
                    background: $color;
                }
            }

            ion-icon {
              margin-right: 0.5rem;
            }
        }

        .select {
            color: $main-color
        }

    }

    .work-wrap {
        margin-bottom: 1rem;
        padding: 1.5rem;
        width: 100%;
        height: 100px;
        background-color: white;
        overflow: hidden;
      
        .detail {
          float: left;
          display: flex;
          flex-direction: column;
          width: 80%;
          height: 100%;
      
          .name {
            width: 100%;
            height: 60%;
            
            font: {
              size: 23px;
              weight: 800;
            }
          }
      
          .master {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40%;
      
            font: {
              size: 13px;
              weight: 200;
            }
      
            ion-img {
              display: inline-block;
              margin-right: 1rem;
              width: 2rem;
              height: 2rem;
            }
          }
        }
      
        .income {
          float: right;
          display: flex;
          width: 20%;
          height: 100%;
          justify-content: center;
          align-items: center;
          color: $main-color;
      
          font: {
            size: 16px;
            weight: 800;
          }
        }
      }
}